.ti-background-clr {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Responsive Leave Row */
.leave-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: flex-end;
}
.error-message {
  color: red;
  margin-top: 5px; /* Adds spacing between input and error */
  font-size: 0.85rem; /* Slightly smaller font for clarity */
}

/* Labels */
.leave-row label {
  flex: 1;
  min-width: 150px;
  text-align: right;
  margin-right: 10px;
  font-weight: 500;
  white-space: nowrap;
}

/* Inputs, Selects, and Textarea */
.leave-row input,
.leave-row select,
.leave-row textarea,
.react-datepicker-wrapper input {
  flex: 2;
  width: 80%;
  max-width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.react-datepicker-wrapper {
  flex: 2;
  width: 100%;
  max-width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 5px;
}

.leave-row textarea {
  height: 100px;
  resize: vertical;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .leave-row {
    flex-direction: column;
    gap: 8px;
    width: auto;
  }

  .leave-row label {
    width: auto;
    text-align: left !important;
    margin-left: -90px;
  }

  .date-input,
  select,
  textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .btn {
    width: 100%;
  }

  .modal-success {
    width: 90%;
    max-width: 400px;
  }

  .text-end {
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }

  .form-head {
    align-items: right;
  }
  .date-inp {
    padding-left: 80px;
  }
}

.text-end {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-end button {
  margin: 5px;
  width: auto;
  max-width: auto;
}
