/* AddTimesheet.css */

.container {
  width: 90%;
  margin: 0 auto;
}

.label-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.button-container-1 {
  display: flex;
  justify-content: space-between;
}

.table {
  margin-top: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Add any additional styles as needed */

@media (max-width: 768px) {
  .calendar-sc {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .calendar-sc {
    font-size: 10px;
  }
}

/* medium screens */
@media (max-width: 992px) {
  .calendar-sc {
    font-size: 14px;
    width: auto;
  }
}

/* //smaller screens */
@media (max-width: 1500px) {
  .calendar-sc {
    font-size: 15px; /* Even smaller for very small screens */
    padding: 0.3rem 5rem; /* Adjust padding */
    width: auto;
  }
}
