@media (max-width: 1210px) {
  .ti-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-navigation {
    /* width: 100% !important; */
    max-width: 240px !important;
    /* background: yellow !important; */
  }
  .left-navigation button {
    width: 200px;
  }
  .right-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .right-details .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-left: -75px;
  }
}
@media (max-width: 951px) {
  .ti-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-navigation {
    max-width: 240px !important;
  }
  .right-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .right-details .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-left: -75px;
  }
}
